<!doctype html>
<html>
<head>
	<title>Veganista</title>
	<script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='jquery.autocomplete.js') }}"></script>
</head>

<body>
  <hr>

  <p>
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
  </p>


  {% block content %} put your content here {% endblock %}


</body>
</html