
{% extends 'base.html' %}
{% block content %}


<h1>Dishes on {{ recipe_date }}</h1>

  <div class="nutritional_data_bar">
      <canvas id="barChart"></canvas>
      <div id="barLegend" class="bar-legend"></div>
   </div>


   <script> 
      $(function() {
      var data = {{ recipe_totals|tojson|safe }};
      var data = JSON.parse(data);
      var nutrition_data = { 
      	labels: ["Total Fat", "Total Carbs", "Total Protein"],
      	datasets: [
      	{
      		label: "Total percentages",
      		fillColor: "rgba(220,220,220,0.5)",
      		StrokeColor: "rgba(220,220,220,0.8)",
      		highlightFill: "rgba(220,220,220,0.75)",
      		highlightStroke: "rgba(220,220,220,1)",
      		data: [data["total_fat"], data["total_carbs"], data["total_protein"]]

      	}

      ]
     };

	  var options = {
	    scaleBeginAtZero: true,
	    animation: true,
	    responsive: true
	   };


    var ctx_bar = document.getElementById("barChart").getContext("2d");
    var myBarChart = new Chart(ctx_bar).Bar(nutrition_data, options);
    // var ctx_doghnut = $("#doghnutChart").get(0).getContext("2d");
  
    // var myDoughnutChart = new Chart(ctx_doghnut).Doughnut(nutrition_data, { 
    //               animateScale: true}); 
    $('#barLegend').html(myBarChart.generateLegend());
    // var ctx_donut = $("#donutChart").get(0).getContext("2d");
    // function makeDonutChart(data) {
    //  var myDonutChart = new Chart(ctx_donut).Doughnut(data, options);
    //   $('#donutLegend').html(myDonutChart.generateLegend());
    // };
	});
  </script>

{% endblock %}
