
{% extends 'base.html' %}
{% block content %}

<h1>{{ firstname }}'s Food Log</h1>


<!-- <h3>Calculated BMI: </h3>

<h3> Calculated Height Requirement: </h3> 

<h3> Calculated Fat Requirement: </h3>

Here is your calculated BMI, and here is your calculated protein, fat and carbohydrate requirements.

<h3> Calculated Carb Requirement: </h3> -->
<!-- 
<h4> List of Recipes: </h4>  -->


<!-- convert bottom into a button -->

<form action="/show_recipes_date/date", method='GET'> 
	Select Date:
		<input type="date" name="date">
		<input type="submit">
</form>

 	<h2>List of Dishes</h2>
 	<ul>
 		{% for input in user.inputs %}
 			<li>
 				<a id="link" href= "/recipe/input/{{ input.input_name }}">
 					{{ input.input_name.title() }}     {{input.eaten_at}}

 				</a>
 			</li>
 		{% endfor %}
 	</ul>






<form action='/logout'>
	<input type="submit" value="log out">
</form>


 <form action='/user/{{ user.user_id }}'>
	<input type="submit" value="enter new dish">
</form>

<form action='/calculate-recipe-totals'>
	<input type="submit" value="show progress">
</form>



{% endblock %}